.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 0%;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #ECF0F1;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-color: #FCFCFC;
}

p {
    word-wrap:normal;
}

span.profile-icon {
    color: blue;
    float: right;
}

th.name {
    min-width: 200px;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

.content {
    background-color: #FFF;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.main {
    margin-top: 5%;
}

.shadow {
    moz-box-shadow:    3px 3px 5px 6px #ccc;
    webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.badge-default {
    background-color: #D9534F;
}

.panel-href {
    color: #FFF;
    font-style: italic;
}

.panel-href:hover {
    color: #FFF;
    text-decoration: underline;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}   

.longer {
    min-height: 80%
}
